ws_client_modificaUtente/xml-resources/web-service-references/ws_modificaUtente/wsdl/localhost_8080/ws_modificaUtente/ws_modificaUtente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://modificaUtente.vise.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://modificaUtente.vise.org/">

<xs:element name="modificaCognome" type="tns:modificaCognome" />

<xs:element name="modificaCognomeResponse" type="tns:modificaCognomeResponse" />

<xs:element name="modificaNome" type="tns:modificaNome" />

<xs:element name="modificaNomeResponse" type="tns:modificaNomeResponse" />

<xs:complexType name="modificaNome">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="tipo" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaNomeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCognome">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="tipo" type="xs:int" />
<xs:element name="cognome" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCognomeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>